/*
1. Posicionamiento
2. Modelo de caja (Box Model)
3. Tipografía
4. Visuales
5. Otros/Miscelaneous
*/

:root {
    /* Colores */
    --warm-black: #3d3d3d;
    --oxford-grey: #555555;
    --just-white: #ffffff;
    --brl-green: #225E00;
    --dark-green: #25510C;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: 'Noto Sans', sans-serif;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    background: rgba(0, 0, 0, 0.3) url(./Assets/img/header-img-sml.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
}
header img {
    width: 60%;
    height: 220px;
    min-width: 190px;
    max-width: 380px;
    margin-top: 0;
    align-self: center;
}

.header--title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 0px;
    text-align: center;
    align-self: center;
}

.header--title-container h1 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.header--title-container p {
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2.0rem;
    color: var(--just-white);
}
.header--title-container .header--button {
    position: absolute;
    left: calc(50% - 116px);
    top: 270px;
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 225px;
    height: 54px;
    background-color: var(--brl-green);
    /* sombra */
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 10px;
    font-size: 1.4rem;
    font-weight: 500;
    text-decoration: none;
    color: var(--just-white);
}

.main-slider--about {
    width: 100%;
    min-width: 320px;
    margin-top: 80px;
    padding-bottom: 70px;
    text-align: center;
}

.main-slider--about .title1 {
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.9rem;
    color: var(--oxford-grey);
}

.main-slider--about .title2 {
    font-size: 2.8rem;
    font-weight: bold;
    line-height: 3.2rem;
    color: var(--warm-black);
    margin: 4px;
}

.main-slider--about .title3 {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.9rem;
    color: var(--warm-black);
}

.main--slider-photo-carrousel {
    display: flex;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    height: 200px;
    max-height: 280px;
    max-width: 950px;
    margin: 30px auto 10px;
    padding: 0 15px;
}

.main--slider-photo-carrousel img {
    margin: 10px;
    border-radius: 10px;
    scroll-snap-align: center;
    object-fit: cover;
}

.main-slider--about .home-solid {
    display: inline-block;
    width: 80px;
    height: 60px;
    margin-top: 30px;
    margin-bottom: 10px;
    background-image: url(./Assets/icons/house-solid-green.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-slider--about .description {
    margin: 30px auto;
    width: 80%;
    max-width: 850px;
    text-align: center;
    justify-content: center;
    font-family: "inter", sans-serif;
    font-size: 1.8rem;
    line-height: 2.6rem;
    color: var(--warm-black);
}

.main-slider--about .slider--ca {
    position: absolute;
    left: calc(50% - 116px);
    display: block;
    margin-top: 15px;
    padding: 15px;
    width: 225px;
    height: 54px;
    background-color: var(--brl-green);
    /* sombra */
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 10px;
    font-size: 1.4rem;
    font-weight: 500;
    text-decoration: none;
    color: var(--just-white);
}

.goals-blocks {
    position: relative;
    display: flex;
    flex-direction: column;
}

.goals-blocks .terrenos {
    width: 100%;
    height: 115px;
    background-color: var(--brl-green);
    text-align: center;
    margin-top: 40px;
}

.number {
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 3.3rem;
    color: var(--just-white);
    margin-top: 30px;
}

.text {
    margin-top: 6px;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2.1rem;
    color: var(--just-white);
}

.goals-blocks .metros {
    width: 100%;
    height: 115px;
    background-color: var(--dark-green);
    text-align: center;
}

.goals-blocks .clientes {
    width: 100%;
    height: 115px;
    background-color: var(--brl-green);
    text-align: center;
}

video {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    max-width: 950px;
    height: auto;
}

.video--container {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.main-plans-container {
    width: 100%;
    min-width: 320px;
    padding-bottom: 70px;
    text-align: center;
}

.plans-title {
    margin: 0 auto;
    padding-top: 50px;
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 3.2rem;
    color: var(--dark-green);
}

.plans-container--card .seccion-title {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.2rem;
    color: var(--warm-black);
    margin-top: 50px;
}

.plans-container--card .arrow-container {
    position: absolute;
    display: block;
    width: 240px;
    height: 277px;
    margin-top: -48px;
    margin-left: -4px;
    background-image: url(./Assets/icons/arrow-card.svg);
    background-repeat: no-repeat;
    background-position: absolute;
}

.plans-container--slider {
    display: flex;
    margin: 0 auto;
    height: 450px;
    max-width: 950px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.plans-container--card {
    position: relative;
    scroll-snap-align: center;
    width: 70%;
    min-width: 230px;
}

.name-plan {
    margin: 10px;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.2rem;
    color: var(--just-white);
}

.details-plan {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 2.2rem;
    margin-top: 15px;
    color: var(--just-white);
}

.plans--ca {
    position: absolute;
    left: calc(50% - 116px);
    display: block;
    margin-top: 25px;
    padding: 15px;
    width: 225px;
    height: 54px;
    background-color: #0179B3;
    /* sombra */
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 10px;
    font-size: 1.4rem;
    font-weight: 500;
    text-decoration: none;
    color: var(--just-white);

}

.icon-hand {
    display: flex;
    margin: 0 auto;
    width: 40px;
    height: 40px;
    background-image: url("./Assets/icons/hand-icon.svg");
    background-repeat: no-repeat;
    background-position: cover;
}

.icon-lightning {
    display: flex;
    margin: 0 auto;
    width: 30px;
    height: 40px;
    background-image: url("./Assets/icons/lightning-icon.svg");
    background-repeat: no-repeat;
    background-position: cover;
}

.icon-home {
    display: flex;
    margin: 0 auto;
    width: 50px;
    height: 40px;
    background-image: url("./Assets/icons/house-icon.svg");
    background-repeat: no-repeat;
    background-position: cover;
}

/*Yellow Cards*/

.yellow-zone-title {
    margin-top: 5px;
    font-size: 2.0rem;
    font-weight: 700;
    line-height: 2.2rem;
    color: #F9B510;
}

.plans-container--card .card-yellow1 {
    margin: 40px auto;
    padding-top: 20px;
    width: 150px;
    height: 237px;
    background-color: #F9B510;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}


.plans-container--card .card-yellow2 {
    margin: 40px auto;
    padding-top: 20px;
    width: 150px;
    height: 237px;
    background-color: #F2921A;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}

/*orange Cards*/

.orange-zone-title {
    margin-top: 5px;
    font-size: 2.0rem;
    font-weight: 700;
    line-height: 2.2rem;
    color: #F18E1A;
}

.plans-container--card .card-orange1 {
    margin: 40px auto;
    padding-top: 20px;
    width: 150px;
    height: 237px;
    background-color: #F18E1A;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}

.plans-container--card .card-orange2 {
    margin: 40px auto;
    padding-top: 20px;
    width: 150px;
    height: 237px;
    background-color: #EA621B;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}

.plans-container--card .card-orange3 {
    margin: 40px auto;
    padding-top: 20px;
    width: 150px;
    height: 237px;
    background-color: #E74B1E;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}
/*Blue Cards */

.blue-zone-title {
    margin-top: 5px;
    font-size: 2.0rem;
    font-weight: 700;
    line-height: 2.2rem;
    color: #0179B3;
}

.plans-container--card .card-blue1 {
    margin: 40px auto;
    padding-top: 20px;
    width: 150px;
    height: 237px;
    background-color: #77C3E1;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}

.plans-container--card .card-blue2 {
    margin: 40px auto;
    padding-top: 20px;
    width: 150px;
    height: 237px;
    background-color: #0179B3;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}

.plans-container--card .card-blue3 {
    margin: 40px auto;
    padding-top: 20px;
    width: 150px;
    height: 237px;
    background-color: #024363;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}

/*Purple Cards*/

.purple-zone-title {
    margin-top: 5px;
    font-size: 2.0rem;
    font-weight: 700;
    line-height: 2.2rem;
    color: #532E87;
}

.plans-container--card .card-purple1 {
    margin: 40px auto;
    padding-top: 20px;
    width: 150px;
    height: 237px;
    background-color: #77549E;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}

.plans-container--card .card-purple2 {
    margin: 40px auto;
    padding-top: 20px;
    width: 150px;
    height: 237px;
    background-color: #532E87;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}

.plans-container--card .card-purple3 {
    margin: 40px auto;
    padding-top: 20px;
    width: 150px;
    height: 237px;
    background-color: #3A2666;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}

.about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 0 auto;
    margin-top: 60px;
    text-align: center;

}

.about-us h3 {
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 2.2rem;
    color: var(--dark-green);
}

.about-us .about-us--logo {
    width: 60%;
    min-width: 180px;
    max-width: 380px;
}

.about-us h4 {
    font-size: 2.0rem;
    font-weight: 700;
    line-height: 2.0rem;
    color: var(--dark-green);
}

.about-us p {
    font-family: "inter", sans-serif;
    font-size: 1.8rem;
    line-height: 2.6rem;
    color: var(--warm-black);
    max-width: 850px;
    margin-top: 20px;
    margin-bottom: 50px;
}

footer {
    display: flex;
    width: 100%;
    height: 210px;
    background-color: var(--brl-green);
}

footer section {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

footer .left ul {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 2.0rem;
    list-style: none;
}

.left li {
    margin: 10px 0;
}

.left a {
    text-decoration: none;
    color: var(--just-white);
}

footer .right img {
    width: 70%;
    max-width: 260px;
}
